<h1>click a list to view notes</h1>

<%= link_to 'back to tasks', board_path(@board) %>
<br>

<%= link_to 'create a new list', new_task_path(@task) %>
<ul>
  <% @lists.each do |list| %>
  <li>
    <%= link_to list.name, [@task, list] %>
  </li>
  <% end %>
</ul>
