<h1>click on a task to view the list</h1>

<%= link_to 'create a new task', new_board_task_path %>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= link_to task.name, [@board, task] %>
  </li>
  <% end %>
</ul>
